<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Image</title>
</head>
<body>
    <div class="table-users">
        <div class="header">Some of the scrapped images:</div>
         <table>
     {% for user_image in user_images %}
             <td width="400">
                 <img width="300" height="300" src="{{ url_for('static', filename=user_image) }}" alt="User Image"></td>
     {% endfor %}
         </table>
     </div>
</body>
</html>